@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@mixin unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
$font-color: hsl(180, 30%, 89%);
$font-shadow: hsl(180, 4%, 21%);


html, body {
    @include unselectable();
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: move;
}
body {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
}

svg { 
    width: 400px;
    align-self: center;
    justify-self: center;
}
#name {
    font-family: 'Montserrat', sans-serif;
    color: $font-color;
    font-size: 3em;
    text-shadow: 3px 3px 5px $font-shadow;

    left: 2%;
    margin-top: -100px;
    position: absolute;
    line-height: 200px;
    text-align: center;
    top: 50%;
    width: 100%;
}
 

////////////// WIDTH SETS the color /////////////////
@media (min-width: 500px){
    body {
      background-color: hsl(186, 92%, 72%);
    }
    path {
        fill: rgb(12, 60, 181);
    }
    svg.egg { // TESTING
        visibility: hidden;
    }
}
@media (min-width: 700px){
    body {
        background-color: hsl(0, 82%, 48%);
      }
    path {
        fill: rgb(247, 185, 152);
    }
}
@media (min-width: 900px){
    body {
        background: hsl(115, 85%, 58%);
      }
    path {
        fill: green;
    }
}


////////////// HEIGHT SETS: animal /////////////////
@media (min-height: 300px) {
    body {
        background: #d82424 url(SVG/egg.svg) no-repeat top;
      }
    #name {
        color: transparent;
    }
    #name:after{
        content: "Tenga";
        color: $font-color; /* set color to original text color */
        margin-left: -30px; /* margin-left equals length of text we're replacing */
    }
}
@media (min-height: 400px) {
    body {
        background: #e0f7ff url(SVG/Doraemon.svg) no-repeat top;
      }
    #name {
        color: transparent;
    }
    #name:after{
        content: "Doraemon";
        color: $font-color; /* set color to original text color */
        margin-left: -30px; /* margin-left equals length of text we're replacing */
    }
}
@media (min-height: 500px) {
    body {
        background: hsl(39, 94%, 57%) url(SVG/Suzanne.svg) no-repeat top;
    }
    #name {color: transparent;}
    #name:after{
        content: "MONO";
        color: $font-color; /* set color to original text color */
        margin-left: -30px; /* margin-left equals length of text we're replacing */
    }
}
@media (min-height: 600px) {
    body {
        background: url(SVG/Arare.svg) no-repeat top;
    }
    #name {
        color: transparent;
    }
    #name:after{
        content: "HUMAN";
        color: $font-color; /* set color to original text color */
        margin-left: -30px; /* margin-left equals length of text we're replacing */
    }
}