@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@mixin unselectable {
    -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}
$font-color: hsl(184, 10%, 50%);


html, body {
    @include unselectable();
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
}

svg { 
    width: 400px;
    align-self: center;
    justify-self: center;
}
span {
    font-family: 'Montserrat', sans-serif;
    color: $font-color;
    left: 0;
    margin-top: -100px;
    position: absolute;
    line-height: 200px;
    text-align: center;
    top: 50%;
    width: 100%;
}
 

////////////// WIDTH SETS the color /////////////////
@media (min-width: 500px){
    body {
      background-color: hsl(186, 92%, 72%);
    }
    path {
        fill: rgb(12, 60, 181);
    }
    svg.egg { // TESTING
        visibility: hidden;
    }
}
@media (min-width: 700px){
    body {
        background-color: hsl(0, 82%, 48%);
      }
    path {
        fill: rgb(247, 185, 152);
    }
}
@media (min-width: 900px){
    body {
        background-color: hsl(115, 85%, 58%);
      }
    path {
        fill: green;
    }
}


////////////// HEIGHT SETS: animal /////////////////
@media (min-height: 400px) {
    body {
        background: url(egg.svg) no-repeat top;
      }
}
@media (min-height: 600px) {
    body {
        background: url(cat.svg) no-repeat top;
      }
}