/* differents svg appears  depending the width:
https://tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/ 
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
html, body {
  user-select: none;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: move;
}

body {
  width: 100%;
}

.container {
  /*eggS ratio: 4:5*/
  height: 0;
  /* collapse the container's height */
  width: 50%;
  /* specify any width you want (a percentage value, basically) */
  /* apply a padding using the following formula, this formula makes sure the aspect ratio of the container equals that of the svg graphic */
  padding-top: 66%;
  /* (svg height / svg width) * width-value; */
  position: relative;
  /* create positioning context for svg */
}

iframe {
  /* with/out padding hack: https://tympanus.net/Tutorials/ResponsiveSVGs/index3.html*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  /* hide the border */
}

#name {
  font-family: 'Montserrat', sans-serif;
  color: #dbebeb;
  font-size: 3em;
  text-shadow: 3px 3px 5px #333838;
  left: 2%;
  margin-top: -100px;
  position: absolute;
  line-height: 200px;
  text-align: center;
  top: 50%;
  width: 100%;
}

@media (min-width: 500px) {
  body {
    background-color: #76ecf9;
  }
  path {
    fill: #0c3cb5;
  }
  svg.egg {
    visibility: hidden;
  }
}

@media (min-width: 700px) {
  body {
    background: #df1616;
  }
  path {
    fill: #f7b998;
  }
}

@media (min-width: 900px) {
  body {
    background: #48ef39;
  }
  path {
    fill: green;
  }
}

@media (min-height: 300px) {
  body {
    background: #d82424 url(SVG/egg.svg) no-repeat top;
  }
  #name {
    color: transparent;
  }
  #name:after {
    content: "Tenga";
    color: #dbebeb;
    /* set color to original text color */
    margin-left: -30px;
    /* margin-left equals length of text we're replacing */
  }
}

@media (min-height: 400px) {
  body {
    background: #e0f7ff url(SVG/Doraemon.svg) top;
  }
  #name:after {
    content: "Doraemon";
    color: #dbebeb;
    /* set color to original text color */
    margin-left: -30px;
    /* margin-left equals length of text we're replacing */
  }
}

@media (min-height: 500px) {
  body {
    background: #f8b02a url(SVG/Suzanne.svg) center;
    background-size: 33%;
  }
  #name:after {
    content: "MONO";
    color: #dbebeb;
    /* set color to original text color */
    margin-left: -30px;
    /* margin-left equals length of text we're replacing */
  }
}

@media (min-height: 600px) {
  body {
    background: url(SVG/Arare.svg) top;
  }
  #name:after {
    content: "HUMAN";
    color: #dbebeb;
    /* set color to original text color */
    margin-left: -30px;
    /* margin-left equals length of text we're replacing */
  }
}
