@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
html, body {
  user-select: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
}

svg {
  width: 400px;
  align-self: center;
  justify-self: center;
}

#name {
  font-family: 'Montserrat', sans-serif;
  color: #738b8c;
  left: 0;
  margin-top: -100px;
  position: absolute;
  line-height: 200px;
  text-align: center;
  top: 50%;
  width: 100%;
}

@media (min-width: 500px) {
  body {
    background-color: #76ecf9;
  }
  path {
    fill: #0c3cb5;
  }
  svg.egg {
    visibility: hidden;
  }
}

@media (min-width: 700px) {
  body {
    background-color: #df1616;
  }
  path {
    fill: #f7b998;
  }
}

@media (min-width: 900px) {
  body {
    background-color: #48ef39;
  }
  path {
    fill: green;
  }
}

@media (min-height: 300px) {
  body {
    background: url(egg.svg) no-repeat top;
  }
  #name {
    color: transparent;
  }
  #name:after {
    content: "Tenga";
    color: #738b8c;
    /* set color to original text color */
    margin-left: -30px;
    /* margin-left equals length of text we're replacing */
  }
}

@media (min-height: 400px) {
  body {
    background: url(cat.svg) no-repeat top;
  }
  #name {
    color: transparent;
  }
  #name:after {
    content: "Doraemon";
    color: #738b8c;
    /* set color to original text color */
    margin-left: -30px;
    /* margin-left equals length of text we're replacing */
  }
}

@media (min-height: 600px) {
  body {
    background: url(dog.svg) no-repeat top;
  }
  #name {
    color: transparent;
  }
  #name:after {
    content: "Isle of dogs";
    color: #738b8c;
    /* set color to original text color */
    margin-left: -30px;
    /* margin-left equals length of text we're replacing */
  }
}
